<a href="https://colab.research.google.com/github/vivekpenuli/missing-value/blob/master/missing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
pd.set_option('display.max_rows', None)

In [0]:
url="https://raw.githubusercontent.com/codebasics/py/master/pandas/5_handling_missing_data_fillna_dropna_interpolate/weather_data.csv"
df=pd.read_csv(url,index_col=0)

In [5]:
df

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          28.0        NaN    Snow
1/6/2017           NaN        7.0     NaN
1/7/2017          32.0        NaN    Rain
1/8/2017           NaN        NaN   Sunny
1/9/2017           NaN        NaN     NaN
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [5]:
df.index

Index(['1/1/2017', '1/4/2017', '1/5/2017', '1/6/2017', '1/7/2017', '1/8/2017',
       '1/9/2017', '1/10/2017', '1/11/2017'],
      dtype='object', name='day')

In [6]:
df.isnull().sum()

temperature    4
windspeed      4
event          2
dtype: int64

In [0]:
new_f=df.fillna(method="ffill")

In [8]:
new_f

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017          32.0        9.0   Sunny
1/5/2017          28.0        9.0    Snow
1/6/2017          28.0        7.0    Snow
1/7/2017          32.0        7.0    Rain
1/8/2017          32.0        7.0   Sunny
1/9/2017          32.0        7.0   Sunny
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [0]:
new_ft=df.fillna(method="ffill",limit=1)

In [10]:
new_ft

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017          32.0        9.0   Sunny
1/5/2017          28.0        9.0    Snow
1/6/2017          28.0        7.0    Snow
1/7/2017          32.0        7.0    Rain
1/8/2017          32.0        NaN   Sunny
1/9/2017           NaN        NaN   Sunny
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

df1=pd.DataFrame({"temp":[32,34,36,32,30,28,30,32,34,36,38,28],
                  "speed":[20,30,40,50,60,70,80,90,45,55,65,78],
                  "event":["ra","sun","clo","norm","norm","ra","sun","clo","ro","wi","clo","to"]
                  })

In [0]:
df1=pd.DataFrame({"temp":[32,34,36,32,30,28,30,32,34,36,38,28],
                  "speed":[20,30,40,50,60,70,80,90,45,55,65,78],
                  "event":["ra","sun","clo","norm","norm","ra","sun","clo","ro","wi","clo","to"]
                  })

In [12]:
df1.head(5)

   temp  speed event
0    32     20    ra
1    34     30   sun
2    36     40   clo
3    32     50  norm
4    30     60  norm

In [13]:
df1.isnull().sum()

temp     0
speed    0
event    0
dtype: int64

In [0]:
df11=pd.DataFrame({"temp":[32,34,36,32,None,28,None,32,34,36,None,28],
                  "speed":[20,None,40,None,60,None,80,90,45,55,None,78],
                  "event":[None,"sun","clo",None,"norm","ra",None,"clo","ro","wi",None,"to"]
                  })

In [17]:
df11

    temp  speed event
0   32.0   20.0  None
1   34.0    NaN   sun
2   36.0   40.0   clo
3   32.0    NaN  None
4    NaN   60.0  norm
5   28.0    NaN    ra
6    NaN   80.0  None
7   32.0   90.0   clo
8   34.0   45.0    ro
9   36.0   55.0    wi
10   NaN    NaN  None
11  28.0   78.0    to

In [18]:
df11.isnull().sum()

temp     3
speed    4
event    4
dtype: int64

In [0]:
url="https://raw.githubusercontent.com/vivekpenuli/missing-value/master/temp.csv%20-%20Sheet1.csv"
df12=pd.read_csv(url)

In [23]:
df12

     temp   speed   event
0      32      30      ra
1      34      40     clo
2      36      no      wi
3      38  not av      no
4  not av    nill  not av
5      40      78     clo
6      32      89      ro
7      no      45      wi
8  not av      67     NaN

In [24]:
df12.isnull().sum()

temp     0
speed    0
event    1
dtype: int64

In [0]:
new_df=pd.read_csv(url,na_values=['not av','no'])

In [27]:
new_df

   temp speed event
0  32.0    30    ra
1  34.0    40   clo
2  36.0   NaN    wi
3  38.0   NaN   NaN
4   NaN  nill   NaN
5  40.0    78   clo
6  32.0    89    ro
7   NaN    45    wi
8   NaN    67   NaN

In [29]:
new_df.isnull().sum()

temp     3
speed    2
event    3
dtype: int64

In [28]:
df12.head()

     temp   speed   event
0      32      30      ra
1      34      40     clo
2      36      no      wi
3      38  not av      no
4  not av    nill  not av

In [0]:
new_df=pd.read_csv(url,na_values={'temp':'not av' ,
                                 'speed':'nill'
                                 } )

In [34]:
new_df

  temp   speed   event
0   32      30      ra
1   34      40     clo
2   36      no      wi
3   38  not av      no
4  NaN     NaN  not av
5   40      78     clo
6   32      89      ro
7   no      45      wi
8  NaN      67     NaN

In [35]:
new_df.isnull().sum().sum()

4

In [36]:
df

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          28.0        NaN    Snow
1/6/2017           NaN        7.0     NaN
1/7/2017          32.0        NaN    Rain
1/8/2017           NaN        NaN   Sunny
1/9/2017           NaN        NaN     NaN
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [0]:
df3=df

In [38]:
df3

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          28.0        NaN    Snow
1/6/2017           NaN        7.0     NaN
1/7/2017          32.0        NaN    Rain
1/8/2017           NaN        NaN   Sunny
1/9/2017           NaN        NaN     NaN
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [39]:
df3.dropna()

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [40]:
df3

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          28.0        NaN    Snow
1/6/2017           NaN        7.0     NaN
1/7/2017          32.0        NaN    Rain
1/8/2017           NaN        NaN   Sunny
1/9/2017           NaN        NaN     NaN
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [41]:
df3.dropna(thresh=1)

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          28.0        NaN    Snow
1/6/2017           NaN        7.0     NaN
1/7/2017          32.0        NaN    Rain
1/8/2017           NaN        NaN   Sunny
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [42]:
df3.dropna(thresh=2)

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          28.0        NaN    Snow
1/7/2017          32.0        NaN    Rain
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [0]:
df3.replace('Rain','rain',inplace=True)

In [48]:
df3

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          28.0        NaN    Snow
1/6/2017           NaN        7.0     NaN
1/7/2017          32.0        NaN    rain
1/8/2017           NaN        NaN   Sunny
1/9/2017           NaN        NaN     NaN
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [0]:
url="https://raw.githubusercontent.com/vivekpenuli/missing-value/master/temp1.csv%20-%20Sheet1.csv"

In [0]:
df4=pd.read_csv(url)

In [51]:
df4

     temp   speed   event
0     32f   30mph      ra
1     34f   40mph     clo
2     36f      no      wi
3     38f  not av      no
4  not av    nill  not av
5     40f   64mph     clo
6     32f   70mph      ro
7      no   45mph      wi
8  not av   67mph     NaN

In [0]:
df5=df4

In [55]:
df5.replace({'event':'[A-Za-z]'},0,regex=True)

     temp   speed  event
0     32f   30mph    0.0
1     34f   40mph    0.0
2     36f      no    0.0
3     38f  not av    0.0
4  not av    nill    0.0
5     40f   64mph    0.0
6     32f   70mph    0.0
7      no   45mph    0.0
8  not av   67mph    NaN

In [59]:
df5.replace({'temp':'[A-Za-z]','speed':'[a-z]'},"",regex=True)

  temp speed   event
0   32    30      ra
1   34    40     clo
2   36            wi
3   38            no
4             not av
5   40    64     clo
6   32    70      ro
7         45      wi
8         67     NaN